html {
  background-color: #1e1e2e;
  /* Base08 */
}

.epic-tracks-player {
  font-family: Papyrus, fantasy;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #1e1e2e;
  /* Base08 */
  /*box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);*/
  text-align: center;
  color: #cdd6f4;
  /* Base02 */
}

.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

button {
  background-color: #11938c;
  /* Green */
  border: none;
  color: #f8f8f2;
  /* Base06 */
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0b706c;
  /* Green - darker shade */
}

.volume-control {
  margin-top: 15px;
}

h2 {
  color: #f8f8f2;
  /* Base06 */
  margin-bottom: 10px;
}

.time-display {
  margin-top: 10px;
  font-size: 14px;
  color: #cdd6f4;
  /* Base02 */
}

.dance {
  width: 600px;
  height: 400px;
  margin: 15px auto;
  background-color: #313244;
  /* Base07 */
  border-radius: 8px;
  overflow: hidden;
}

#dance-gif {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
}

.epic-tracks-header {
  display: flex;
  justify-content: center;
  min-width: 100px;
  font-size: 50px;
  color: #f8f8f2;
  /* Base06 */
}
